In [138]:
import numpy as np

Baseado nos commandos que vimos até o momento e no Dataset fornecido, crie scripts em Python que respondam às seguintes perguntas:

1. Apresente a porcentagem de missões que deram certo

In [139]:
dataset = np.loadtxt('space.csv', delimiter = ';', dtype=str, encoding='utf-8')

status_missions = dataset[1:, -1]

total = len(status_missions)
success = np.sum(status_missions == 'Success')

porcentage_success = (success/total) * 100

print(f'Porcentagem de sucesso: {porcentage_success:.2f}%')

Porcentagem de sucesso: 89.71%

2. Qual a media de gastos de uma missão especial se baseando em missões que possuam valores disponíveis (> 0)?

In [140]:
gastos = dataset[1:, -2]

gastos_convertidos = []

for valor in gastos:
    if valor:
        gastos_convertidos.append(float(valor))

gastos_convertidos = np.array(gastos_convertidos)

gastos_validos = gastos_convertidos[gastos_convertidos > 0]

print(f'Media de gastos: {gastos_validos.mean():.2f}')

Media de gastos: 153.79

3. Encontre quantas missões espaciais neste Dataset foram realizadas pelos Estados Unidos (EUA)

In [141]:
missoes = dataset[1:, 2]

missoes_usa = missoes[np.char.find(missoes, "USA") != -1]
print(f'Quantidade de missoes no EUA: {len(missoes_usa)}')

Quantidade de missoes no EUA: 1344

4. Encontre qual foi a missão mais cara realizada pela empresas “SpaceX”

In [142]:
missoes = dataset[1:, [1, 4, 6]]
# print(missoes)

missoes_spacex = missoes[np.char.find(missoes[:, 0], "SpaceX") != -1]
# print(missoes_spacex)

custos_spacex = missoes_spacex[:, -1].astype(float)

missao_mais_cara = missoes_spacex[np.argmax(custos_spacex)]

print(f'A missão mais cara da {missao_mais_cara[0]} é a {missao_mais_cara[1]} com o gasto de {float(missao_mais_cara[2]):.2f}')

A missão mais cara da SpaceX é a Falcon Heavy | STP-2 com o gasto de 90.00

5. Mostre o nome das empresas que já realizaram missões espaciais, juntamente com suas respectivas quantidades de missões (use o for no final para mostrar as informações)

In [143]:
empresas = dataset[1:, 1]

empresas_unicas = np.unique_all(empresas)

empresas_val = np.column_stack((empresas_unicas.values, empresas_unicas.counts))

for empresa in empresas_val:
    print(f'Empresa: {empresa[0]} | Missoes: {empresa[1]}')

Empresa: AEB | Missoes: 3
Empresa: AMBA | Missoes: 8
Empresa: ASI | Missoes: 9
Empresa: Arianespace | Missoes: 279
Empresa: Arm??e de l'Air | Missoes: 4
Empresa: Blue Origin | Missoes: 12
Empresa: Boeing | Missoes: 136
Empresa: CASC | Missoes: 251
Empresa: CASIC | Missoes: 5
Empresa: CECLES | Missoes: 4
Empresa: CNES | Missoes: 8
Empresa: Douglas | Missoes: 1
Empresa: EER | Missoes: 1
Empresa: ESA | Missoes: 13
Empresa: Eurockot | Missoes: 13
Empresa: ExPace | Missoes: 10
Empresa: Exos | Missoes: 4
Empresa: General Dynamics | Missoes: 251
Empresa: IAI | Missoes: 11
Empresa: ILS | Missoes: 46
Empresa: IRGC | Missoes: 1
Empresa: ISA | Missoes: 13
Empresa: ISAS | Missoes: 30
Empresa: ISRO | Missoes: 76
Empresa: JAXA | Missoes: 7
Empresa: KARI | Missoes: 3
Empresa: KCST | Missoes: 5
Empresa: Khrunichev | Missoes: 1
Empresa: Kosmotras | Missoes: 22
Empresa: Land Launch | Missoes: 7
Empresa: Landspace | Missoes: 1
Empresa: Lockheed | Missoes: 79
Empresa: MHI | Missoes: 84
Empresa: MITT | Missoes: 7
Empresa: Martin Marietta | Missoes: 114
Empresa: NASA | Missoes: 203
Empresa: Northrop | Missoes: 83
Empresa: OKB-586 | Missoes: 2
Empresa: OneSpace | Missoes: 1
Empresa: RAE | Missoes: 2
Empresa: RVSN USSR | Missoes: 1777
Empresa: Rocket Lab | Missoes: 13
Empresa: Roscosmos | Missoes: 55
Empresa: SRC | Missoes: 3
Empresa: Sandia | Missoes: 1
Empresa: Sea Launch | Missoes: 36
Empresa: SpaceX | Missoes: 100
Empresa: Starsem | Missoes: 1
Empresa: ULA | Missoes: 140
Empresa: US Air Force | Missoes: 161
Empresa: US Navy | Missoes: 17
Empresa: UT | Missoes: 5
Empresa: VKS RF | Missoes: 201
Empresa: Virgin Orbit | Missoes: 1
Empresa: Yuzhmash | Missoes: 2
Empresa: i-Space | Missoes: 1