In [1]:
import pandas as pd

1. Carregue o Dataset paises.csv e em seguida mostre:

In [3]:
df = pd.read_csv('paises.csv', delimiter=';')

a. Quais são os países da OCEANIA;

In [5]:
paises_oceania = df[df['Region'].str.contains('OCEANIA')]
display(paises_oceania)

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,0.000,0.000,0.000
11,Australia,OCEANIA,20264082,7686850,2.6,0.34,3.98,4.69,29000,100.0,565.5,6.55,0.04,93.41,1.0,12.14,7.51,0.038,0.262,0.700
47,Cook Islands,OCEANIA,21388,240,89.1,50.00,0.00,0.00,5000,95.0,289.9,17.39,13.04,69.57,2.0,21.00,0.00,0.151,0.096,0.753
67,Fiji,OCEANIA,905949,18270,49.6,6.18,-3.14,12.62,5800,93.7,112.6,10.95,4.65,84.40,2.0,22.55,5.65,0.089,0.135,0.776
71,French Polynesia,OCEANIA,274578,4167,65.9,60.60,2.94,8.44,17500,98.0,194.5,0.82,5.46,93.72,2.0,16.68,4.69,0.031,0.190,0.769
83,Guam,OCEANIA,171019,541,316.1,23.20,0.00,6.94,21000,99.0,492.0,9.09,16.36,74.55,2.0,18.79,4.48,0.000,0.000,0.000
108,Kiribati,OCEANIA,105432,811,130.0,140.94,0.00,48.52,800,0.0,42.7,2.74,50.68,46.58,2.0,30.65,8.26,0.089,0.242,0.668
130,Marshall Islands,OCEANIA,60422,11854,5.1,3.12,-6.04,29.45,1600,93.7,91.2,16.67,38.89,44.44,2.0,33.05,4.78,0.317,0.149,0.534
136,"Micronesia, Fed. St.",OCEANIA,108004,702,153.9,870.66,-20.99,30.21,2000,89.0,114.8,5.71,45.71,48.58,2.0,24.68,4.75,0.289,0.152,0.559
144,Nauru,OCEANIA,13287,21,632.7,142.86,0.00,9.95,5000,0.0,143.0,0.00,0.00,100.00,2.0,24.76,6.70,0.000,0.000,0.000
148,New Caledonia,OCEANIA,219246,19060,11.5,11.83,0.00,7.72,15000,91.0,252.2,0.38,0.33,99.29,2.0,18.11,5.69,0.150,0.088,0.762
149,New Zealand,OCEANIA,4076140,268680,15.2,5.63,4.05,5.85,21600,99.0,441.7,5.60,6.99,87.41,3.0,13.76,7.53,0.043,0.273,0.684
153,N. Mariana Islands,OCEANIA,82459,477,172.9,310.69,9.61,7.11,12500,97.0,254.7,13.04,4.35,82.61,2.0,19.43,2.29,0.000,0.000,0.000
157,Palau,OCEANIA,20579,458,44.9,331.66,2.85,14.84,9000,92.0,325.6,8.70,4.35,86.95,2.0,18.03,6.80,0.062,0.120,0.818
159,Papua New Guinea,OCEANIA,5670544,462840,12.3,1.11,0.00,51.45,2200,64.6,10.9,0.46,1.44,98.10,2.0,29.36,7.25,0.353,0.381,0.266
176,Samoa,OCEANIA,176908,2944,60.1,13.69,-11.70,27.71,5600,99.7,75.2,21.20,24.38,54.42,2.0,16.43,6.62,0.114,0.584,0.302
187,Solomon Islands,OCEANIA,552438,28450,19.4,18.67,0.00,21.29,1700,0.0,13.4,0.64,2.00,97.36,2.0,30.01,3.92,0.420,0.110,0.470
203,Tonga,OCEANIA,114689,748,153.3,56.02,0.00,12.62,2200,98.5,97.7,23.61,43.06,33.33,2.0,25.37,5.28,0.230,0.270,0.500
209,Tuvalu,OCEANIA,11810,26,454.2,92.31,0.00,20.03,1100,0.0,59.3,0.00,0.00,100.00,2.0,22.18,7.11,0.166,0.272,0.562
217,Vanuatu,OCEANIA,208869,12200,17.1,20.72,0.00,55.16,2900,53.0,32.6,2.46,7.38,90.16,2.0,22.72,7.82,0.260,0.120,0.620
221,Wallis and Futuna,OCEANIA,16025,274,58.5,47.08,0.00,0.00,3700,50.0,118.6,5.00,25.00,70.00,2.0,0.00,0.00,0.000,0.000,0.000

b. Quantos países são da OCEANIA;

In [8]:
print(f'{paises_oceania.size} paises da oceania')

420 paises da oceania

2. Encontre o nome e a região do país que possui a maior população segundo este Dataset

In [12]:
maior_população = df[df['Population'].max() == df['Population']]
print(f'País: {list(maior_população['Country'])[0]}| Região: {list(maior_população['Region'])[0]}')

País: China | Região: ASIA (EX. NEAR EAST)

3. Agrupe os países por Regiões. Em seguida , mostre a média de alfabetização Literacy (%) de cada região do planeta

In [15]:
agrupamento = df.groupby('Region')
display(agrupamento['Literacy (%)'].mean())

Region
ASIA (EX. NEAR EAST)                   79.553571
BALTICS                                99.733333
C.W. OF IND. STATES                    98.725000
EASTERN EUROPE                         72.816667
LATIN AMER. & CARIB                    88.640000
NEAR EAST                              69.581250
NORTHERN AFRICA                        56.033333
NORTHERN AMERICA                       78.200000
OCEANIA                                71.914286
SUB-SAHARAN AFRICA                     61.284314
WESTERN EUROPE                         80.821429
Name: Literacy (%), dtype: float64

4. Busque o nome de todos os países do Dataset que não possuem costa marítima (Coastline (coast/area ratio ) == 0) e guarde os em um novo arquivo chamado noCoast.csv

In [ ]:
sem_costa = df[df['Coastline (coast/area ratio)'] == 0]['Country']
sem_costa.to_csv('noCoast.csv')

5. Faça uma função que receba a taxa de mortalidade de cada país ( Deathrate ) e retorne o texto ‘ Balanced ’ caso o valor seja < 9 e Urgent ’ caso contrário. Em seguida, crie um campo no Dataset chamado ‘ Humanitarian Help’ que receba estes valores para cada país. No final, mostre o Dataset para verificar se a inserção da nova coluna foi feita com sucesso.

In [20]:
def func(deathrate):
    return 'Balanced' if deathrate < 9 else 'Urgent'

df['Humanitarian Help'] = df['Deathrate'].apply(func)
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),...,Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service,Humanitarian Help
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700,36.0,...,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380,Urgent
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500,86.5,...,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579,Balanced
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000,70.0,...,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298,Balanced
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000,97.0,...,10.00,15.00,75.00,2.0,22.46,3.27,0.000,0.000,0.000,Balanced
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000,100.0,...,2.22,0.00,97.78,3.0,8.71,6.25,0.000,0.000,0.000,Balanced